@media screen and (max-width: 900px) {
    .item-el {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .detail {
        flex-direction: column;
        gap: 12px;
    }

    .description {
        width: 100%;
        font-size: 24px;
        line-height: 28px;
    }
}