@media screen and (max-width: 1100px) {
    .item-el {
        width: 50%;
    }

    .image-container {
        width: 50%
    }

    .description {
        font-size: 3.5vw;
        line-height: 4.5vw;
    }
}

@media screen and (max-width: 600px) {
    .detail {
        flex-direction: column;
        gap: 12px;
    }



    .item {
        gap: 24px;
    }

    .image-container {
        width: 100%
    }

    .description {
        width: 100%;
        font-size: 6vw;
        line-height: 8vw;
    }
}