@media screen and (max-width: 900px) {
    .item-el {
        width: 50%;
    }

    .image-container {
        width: 50%
    }

    .description {
        width: 50%;
        font-size: 4vw;

    }
}

@media screen and (max-width: 600px) {
    .detail {
        flex-direction: column;
        gap: 12px;
    }

    .image-container {
        width: 100%
    }

    .description {
        width: 100%;
        font-size: 6vw;

    }
}